/* Layout geral */
.pagina-inicial {
    min-height: 100vh;
    background: #f8f3eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  
  /* Seção principal */
  .conteudo-principal {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 10rem;
  }
  
  /* Texto */
  .destaque-texto {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .destaque-texto h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .destaque-texto p {
    color: #444;
    line-height: 1.5;
  }
  
  /* Imagem destaque */
  .destaque-imagem {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .destaque-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .destaque-imagem figcaption {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
  }
  
  /* Botões */
  .navegacao {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
  }
  
  .navegacao a {
    background: #4a2c1a;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background 0.3s;
  }
  
  .navegacao a:hover {
    background: #2f1c10;
  }
  
  
 
/* Seções informativas */
.secao-informativa {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 2rem 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.secao-informativa h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #4a2c1a;
}

.secao-informativa p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}


/* Galeria */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  width: 66%;
  height: 100%;
  margin: 4rem auto;
  padding: 2rem 2rem;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
